  <div class="container pt-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>


<div class="container d-flex">

  <div class="black-info-banner ">
    <div class="container">
      <div class="d-flex flex-row align-items-end">
        <h1><%= @foodtruck.name.capitalize %></h1>
        <ul>
          <li id="star" class="list-inline-item fas fa-star"></li>
          <li id="star" class="list-inline-item fas fa-star"></li>
          <li id="star" class="list-inline-item fas fa-star"></li>
          <li id="star" class="list-inline-item fas fa-star"></li>
          <li id="star" class="list-inline-item far fa-star"></li>
        </ul>
      </div>
      <p><%= @foodtruck.category %></p>

      <div class="d-flex flex-row align-items-end">
        <i id="localisation" class="fas fa-map-marker-alt fa-2x"></i>
        <h2 class="r-5"><%= @foodtruck.city&.capitalize %>  </h2>
      </div>

      <br>
      <div class="card-food-truck-infos-price">
        <p id=currency-white>€</p>
        <h3><%= @foodtruck.price_per_day %></h3>
        <p id="day-show">  PER DAY</p>

      </div>

      <div>
        <br>
        <%= link_to "BOOK NOW", new_food_truck_booking_path(@foodtruck) , class: "btn-green" %>
      </div>
      <br>
         <!--  <li class="list-inline-item">Availability : <%= @foodtruck.availability %></li> -->
      </div>
    </div>

</div>

<div class="white-info-banner pb-3">
  <div class="container ">
     <div class="my-6 ">
      <h2>Menu</h2>
      <br>
      <p><%= @foodtruck.menu %></p>
      <br>
      <br>
    </div>
  </div>


