

<div class="container text-center">
  <br>
  <h1>Confirm your booking for <%=@foodtruck.name %></h1>
  <br>


<div class="container d-flex align-items-center justify-content-around">

  <div class="form-group d-flex justify-content-center">
    <%= simple_form_for @foodtruck do |f| %>
      <%= f.input :commenter, :input_html => { :value => current_user.first_name }, label: false, disabled: true %>
      <%=f.input :start_date, :input_html => { :value => params[:start_date], id: "flatpickr-start" } %>
      <%=f.input :end_date, :input_html => { :value => params[:end_date], id: "flatpickr-end" } %>
      <%= f.button :submit, "Book it", class: "btn-yellow text-center" %>

        <% end %>
    </div>


    <div class="card-food-truck">
      <%= image_tag "https://images.unsplash.com/photo-1573918780733-c6cc6d4d5b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80.jpg" %>
        <div class="card-food-truck-infos">
          <div>
            <p><%= @foodtruck.city %></p>
            <h3><%= link_to @foodtruck.name, food_truck_path(@foodtruck)%></h3>
            <p><%= @foodtruck.category %></p>
          </div>
          <div class="card-food-truck-infos-price">
            <p id=currency>€</p>
            <h2><%= @foodtruck.price_per_day %></h2>
            <p id=day>  PER DAY</p>
          </div>
        </div>
    </div>
  </div>
</div>
