<ul>
  <% @foodtrucks.each do |foodtruck| %>
    <li><%=foodtruck.name.capitalize %> <%=foodtruck.category.capitalize %> <%=foodtruck.city.capitalize %>
      <%= link_to "See details", food_truck_path(foodtruck), class: "btn btn-primary"%></li>
  <% end %>
</ul>



<%= form_tag(ft_search_path, method: 'get') do %>
<%= 'city:' %><%= text_field_tag 'city' %>
<%= 'category:' %><%= text_field_tag 'category' %>
<%= 'start date:' %><%= date_field_tag 'start date' %>
<%= 'end date:' %><%= date_field_tag 'end date' %>
<div><%= submit_tag 'Submit' %></div>
<% end -%>

<p><%= link_to "FIND THE FOODTRUCK OF YOUR DREAMS", "#", class: "btn-yellow-slide", id="search" %></p>
