
<div class="banner">
  <div class="container text-center">
    <h3>With Wath The Truck you can rent the best foodtruck in your city for you event</h3>
    <h3>As a Food Truck owner you can rent you truck</h3>
    <p>Great wheels on tire! </p>

    <p><%= link_to "FIND THE FOODTRUCK OF YOUR DREAMS", "#", class: "btn-yellow-slide" %></p>
  </div>
</div>

<div class="container">

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class= "d-flex">
        <!-- 3 card foodtruck -->
        <% @foodtrucks.first(3).each do |foodtruck| %>
          <div class="card-food-truck">
            <%= image_tag "https://images.unsplash.com/photo-1573918780733-c6cc6d4d5b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80.jpg" %>
              <div class="card-food-truck-infos">
                <div>
                  <p><%= foodtruck.city %></p>
                  <h3><%= link_to foodtruck.name, food_truck_path(foodtruck)%></h3>
                  <p><%= foodtruck.category %></p>
                </div>
                <div class="card-food-truck-infos-price">
                  <p id=currency>€</p>
                  <h2><%= foodtruck.price_per_day %></h2>
                  <p id=day>  PER DAY</p>
                </div>
              </div>
          </div>
        <% end %>
        </div>
      </div>

      <div class="carousel-item">
        <div class="d-flex">
          <% @foodtrucks.last(3).each do |foodtruck| %>
            <div class="card-food-truck">
              <%= image_tag "https://images.unsplash.com/photo-1573918780733-c6cc6d4d5b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80.jpg" %>
              <div class="card-food-truck-infos">
                <div>
                  <p><%= foodtruck.city %></p>
                  <h3><%= link_to foodtruck.name, food_truck_path(foodtruck)%></h3>
                  <p><%= foodtruck.category %></p>
                </div>
                <div class="card-food-truck-infos-price">
                  <p id=currency>€</p>
                  <h2><%= foodtruck.price_per_day %></h2>
                  <p id=day>  PER DAY</p>
                </div>
              </div>
            </div>
            <% end %>
            </div>
        </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>













