<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to "SEARCH", "#", class: "btn-yellow" %>

<h1>All foodtrucks</h1>

<ul>
  <% @foodtrucks.each do |foodtruck| %>
    <li><%=foodtruck.name.capitalize %> <%=foodtruck.category.capitalize %> <%=foodtruck.city.capitalize %>
      <%= link_to "See details", food_truck_path(foodtruck), class: "btn btn-primary"%></li>
  <% end %>
</ul>
<!--  -->

<%= form_tag(ft_search_path, method: 'get') do %>
<%= 'city:' %><%= text_field_tag 'city' %>
<%= 'category:' %><%= text_field_tag 'category' %>
<%= 'start date:' %><%= date_field_tag 'start date' %>
<%= 'end date:' %><%= date_field_tag 'end date' %>
<div><%= submit_tag 'Submit' %></div>
<% end -%>





