<div class="card-body">
  <div class="card-product">
    <img src=".jpg" />
      <div class="card-product-infos">
        <h3><strong><%= foodtruck.name%> :</strong></h3><br>
        <%= foodtruck.city%> <br>
        <%= foodtruck.category%> <br>
        <%= foodtruck.price_per_day%> <br>
        <%= foodtruck.menu%> <br><br>
      </div>
    </div>
</div>
