


<div class="container">
  <h1 class=text-center> My dashboard</h1>
  <div class="accordion" id="accordionExample">
    <% unless @bookings %>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Bookings
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <% @bookings.each do |booking| %>
          <%= render 'bookings_list', booking: booking %>
        <% end %>
    <% end %>

    <!-- User's foodtrucks to rent section -->
    <% if @foodtrucks %>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            my Foodtrucks
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse d-inline-flex p-2" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <% @foodtrucks.each do |foodtruck| %>
            <% if foodtruck %>
              <%= render 'foodtruck_list', foodtruck: foodtruck %>
              <%= render 'foodtruck_update', foodtruck: foodtruck  %>
              <%= render 'foodtruck_delete', foodtruck: foodtruck  %>
            <% end %>
          <% end %>
      </div>
    </div>
    <% end %>
    <!-- User's foodtrucks booking section -->
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            my Bookings
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse d-inline-flex p-2" aria-labelledby="headingThree" data-parent="#accordionExample">
        <% @foodtrucks.each do |foodtruck| %>
          <% if foodtruck.bookings %>
            <%= render 'foodtruck_bookings_card', foodtruck: foodtruck %>
          <% end %>
        <% end %>
      </div>
  </div>
  <div>
    <!-- form to add a food truck -->
  <h2>Add your foodtruck to rent</h2>
  </div>
  <%= simple_form_for @foodtruck do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :category %>
    <%= f.input :menu %>
    <%= f.input :price_per_day %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit class: 'btn-green' %>
  <% end %>
</div>
